.wrapper--prd{
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 250px;
  height: 250px;
  border: 1px solid #c4c4c4;
 .wrapper--btn{
   display: flex;
   flex-direction: column;
   position: absolute;
   bottom: 10%;
   left: 0;
   right: 0;
   }

  }
