.wrapper-ft{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-ft{
    background: #cececc;
    width: 100px;
    padding: 5px;
    }
  h2{
    font-size: 18px;

    }
  }
