<div class = "main" >
  <h1 >{{title}}</h1 >
  <app-header ></app-header >
  <app-products >
    <app-product ></app-product >
    <app-product ></app-product >
    <app-product ></app-product >
  </app-products >


  <app-cart >
    <app-input ></app-input >
  </app-cart >
  <app-footer ></app-footer >
</div >
