 .wrapper-hd{
   display: flex;
   justify-content: space-between;

   .logo--hd{
     width: 150px;
     padding: 5px 15px;
     background: #00cef4;
     color: #ffff ;
     font-size: 28px;

     }
   .hd-name{
     font-size: 24px;
     }


   }
