h1{
  text-align: center;
  text-transform: uppercase;
  }
.warapper-prs{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  text-align: center;
  h1{
    text-transform: uppercase;
    }
  }
